@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
	background-color: #086972 !important;
	color: #071a52;
}

 img {
	height: 30px;
	border-radius: 8px;
	border: 2px solid #086972;
	margin-top: 3px;
}

span img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.UsuarioText {
	
	margin-bottom: 10px;
}
header {
	
	margin-bottom: 20px;
	height: 40px;
	
	background-color: #17b978;	
	color: #071a52;
	align-items: center;
	box-shadow: 0px 2px 2px #ccc;
}

header > div {
	margin-left: 8px;
	
}

#conteudo {
	padding: 0px 8px
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px
}

.rotulo {
	width: 150px
}

.ui-panelgrid td {
	height: 34px
}

.ajax-status {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px
}

.ui-selectmanycheckbox td {
	border-width: 0px !important;
	padding: 0px !important;
}

.ui-selectmanycheckbox td label {
	padding-right: 10px;
}

.produto-tabela input {
	width: 99%;
}

.ui-autocomplete{
	width: 99% !important;
}

/* Customiza TabView - início */

.ui-widget-content a { 
	
	color: #071a52;
}

.ui-state-hover, .ui-widget-content 
.ui-state-hover, .ui-widget-header 
.ui-state-hover, .ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus {

background: #a7ff83 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.6)),to(rgba(255,255,255,0)));

}

.ui-menu, .ui-menu .ui-menu-child {
	
	background: #17b978;
}
.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0.2em !important;
}

.ui-tabs {
    padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
    margin: -1px !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0px !important;
}
/* Customiza TabView - fim */

/* Menu sistema inicio */
.menu-sistema {
    border: 0px !important;
    padding: 0px !important;
    background: none !important;
}
.ui-menu .ui-menu-parent .ui-menu-child {
	width: 12.5em !important;
	padding: .1em !important;
}

.ui-menubar .ui-menuitem-link {
	
	padding: .8em !important;
}

.ui-menubar .ui-menu-child .ui-menuitem-link {
    
    width: 86% !important;
}


/* Menu sistema fim */

.ui-state-disabled {
	opacity: .80 !important;
}